$blackColor:#333;
$whiteColor:rgb(255, 255, 255);
$greyColor: #e8e8e8;
$primaryColor: #e7e7e7;
$linksColor: rgb(74, 0, 158);
$freeSpace:15px;
$headerHeight: 49px;
$footerHeight: 49px;

@import 'reset';
@import 'grid';
@import 'typography';
html{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    flex: auto;
    color: $blackColor;
    background-color: $whiteColor;
    padding-top: $headerHeight + $freeSpace;
}
@import 'header';
@import 'main';
@import 'footer';
@import 'components/post';
@import 'components/auth';
@import 'forms'
