<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="text">
        <button type="submit">submit</button>
    </form>
</body>
</html>