<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="title">
        <br>
        <textarea cols="30" rows="7" name="body"></textarea>
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>