<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body>
    <ul>
        <% posts.forEach(function(post){  %>
            <li>
                <h1><%= post.title %></h1>
                <br>
                <%= post.body %>
            </li>
            
        <% }); %>
    </ul>

    <a href="/create">add</a>   
</body>
</html>