<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body>
    <ul>
        <% arr.forEach(function(item){  %>
        <li><%= item %></li>
        <% }); %>
    </ul>

    <a href="/create">add</a>   
</body>
</html>