<%- include layout/header -%>
<ul>
    <% posts.forEach(function(post){  %>
        <li>
            <h1><%= post.title %></h1>
            <br>
            <%= post.body %>
        </li>
        <br><br><br>
        <% }); %>
    </ul>
<a href="/create">add</a>   

<%- include layout/footer -%>