<div class="sidebar">
    <div class="box auth">

      <form method="post" class="login">
        <h2>Log in </h2>
        <div class="form-group">
          <label for="login-login">Login</label>
          <input type="text" id="login-login" name="login" />
        </div>
        <div class="form-group">
          <label for="-login-password">Password</label>
          <input type="password" id="login-password" name="password" />
        </div>
        <div class="buttons">
            <button class="switch-button secondary-inverse"> Registration</button>
            <button class="login-button">Sign in</button>
        </div>
        
      </form>
      <!-- --------------- -->
      <form method="post" class="register">
            <h2>Registration</h2>
            <div class="register-group">
              <label for="register-login">E-mail</label>
              <input type="text" id="register-login" name="login" />
            </div>
            <div class="form-group">
              <label for="register-password">Password</label>
              <input type="password" id="register-password" name="password" />
            </div>
            <div class="form-group">
                    <label for="register-password-confirm">Confirm password</label>
                    <input type="password" id="register-password-confirm" name="passwordConfirm" />
                  </div>
            <div class="buttons">
                <button class="switch-button secondary-inverse"> Log in</button>
                <button class="login-button">Register</button>
            </div>
            
          </form>
      

    </div>
    <div class="box">box2</div>
  </div>